---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Proposito from "../components/Proposito.astro";
import Cita from "../components/Cita.astro";
import NuestroTrabajo from "../components/NuestroTrabajo.astro";
import Metas from "../components/Metas.astro";
import Estudiantes from "../components/Estudiantes.astro";
import Testimonios from "../components/Testimonios.astro";
import Productos from "../components/Productos.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Iglesia Católica Avanzada" />

<main>
    <Hero />

    <Proposito />

    <NuestroTrabajo />

    <Metas />

    <Productos />

    <Estudiantes />

    <Testimonios />

    <Cita />

    <Footer />
</main>

<style>
    main {
        height: auto;
        background-color: var(--color-white);
    }
</style>
