---
import Boton from "../components/ui/Boton.astro";
---

<section>
    <div class="contenido">
        <div class="left">
            <h1>Horneando Oportunidades <span>Transformando </span>Vidas</h1>
            <p>
                Cada pan que hacemos no solo alimenta el cuerpo, sino que nutre
                el futuro de jóvenes con ganas de aprender y crecer.
            </p>

            <div class="botones">
                <Boton
                    text="Descubre Más"
                    height="45px"
                    width="160px"
                    color="var(--color-white)"
                    bgColor="var(--color-dark)"
                    hoverColor="var(--color-dark-hover)"
                    fontWeight="500"
                    fontSize="var(--font-size-boton)"
                    destino="#proposito"
                />
                <Boton
                    text="Donar ahora"
                    width="170px"
                    height="45px"
                    hoverColor="var(--primary-color)"
                    fontWeight="500"
                    fontSize="var(--font-size-boton)"
                    destino="#"
                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12.001 4.5285C14.35 2.42 17.98 2.49 20.2426 4.7574c2.2627 2.2673 2.3404 5.8796.236 8.2356l-8.4787 8.492-8.4785-8.492c-2.1044-2.356-2.0257-5.974.236-8.2356 2.2642-2.2642 5.8878-2.3405 8.2436-.2289Zm6.826 1.6416c-1.4991-1.5022-3.9194-1.563-5.49-.1532l-1.3351 1.1983-1.3358-1.1974c-1.5751-1.4118-3.991-1.3497-5.4945.1538-1.4898 1.4897-1.5646 3.8757-.1917 5.4516L12 18.6543l7.0202-7.0311c1.3734-1.5765 1.2989-3.958-.1931-5.4531Z"/></svg>`}
                    animacion={true}
                />
            </div>
        </div>

        <div class="right">
            <div class="item item-0 desktop-only">
                <img src="/img/hero/hero-img.avif" alt="" />
            </div>
            <div class="item item-1 desktop-only">
                <img src="/img/hero/hero-img-2.jpg" alt="" />
            </div>
            <div class="item item-2 desktop-only">
                <img src="/img/hero/hero-img-3.jpg" alt="" />
            </div>
            <div class="item item-3 desktop-only">
                <img src="/img/hero/hero-img.jpg" alt="" />
            </div>
        </div>
    </div>

    <a href="#proposito" class="flecha">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 7"
            fill="currentColor"
            ><path
                d="M8 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5c-.2-.2-.2-.51 0-.71s.51-.2.71 0l4.15 4.15 4.14-4.14c.2-.2.51-.2.71 0s.2.51 0 .71l-4.5 4.5c-.1.1-.23.15-.35.15Z"
            ></path></svg
        >
    </a>
    <!--  <div class="column">
        <div class="box">
            <div class="icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="M12 22C6.4771 22 2 17.5228 2 12 2 6.4771 6.4771 2 12 2c5.5228 0 10 4.4771 10 10 0 5.5228-4.4772 10-10 10Zm0-2c4.4183 0 8-3.5817 8-8s-3.5817-8-8-8-8 3.5817-8 8 3.5817 8 8 8Zm-5-8h2c0 1.6569 1.3431 3 3 3s3-1.3431 3-3h2c0 2.7614-2.2386 5-5 5s-5-2.2386-5-5Z"
                    ></path></svg
                >
            </div>

            <div class="texts">
                <h1>+1,500</h1>

                <h2>Jovenes impactados</h2>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="M12 22C6.4771 22 2 17.5228 2 12 2 6.4771 6.4771 2 12 2c5.5228 0 10 4.4771 10 10 0 5.5228-4.4772 10-10 10Zm0-2c4.4183 0 8-3.5817 8-8s-3.5817-8-8-8-8 3.5817-8 8 3.5817 8 8 8Zm1-8h4v2h-6V7h2v5Z"
                    ></path></svg
                >
            </div>

            <div class="texts">
                <h1>+500</h1>

                <h2>Horas de voluntariado</h2>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="M22.1034 19 12.8659 3.0002a.9996.9996 0 0 0-.366-.366c-.4783-.2762-1.0899-.1123-1.366.366L1.8964 19H1v2h22v-2h-.8966Zm-14.5035.0002H4.2057l7.7942-13.5 7.7942 13.5h-3.394L12 11l-4.4 8.0002ZM12 15.1501 14.1175 19h-4.235L12 15.1501Z"
                    ></path></svg
                >
            </div>

            <div class="texts">
                <h1>+300</h1>

                <h2>Proyectos completados</h2>
            </div>
        </div>

        <div class="box">
            <div class="icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="M4 11.3333 0 9l12-7 12 7v8.5h-2v-7.3333l-2 1.1666v6.678l-.2226.2751C17.9457 20.5499 15.1418 22 12 22s-5.9457-1.4501-7.7774-3.7136L4 18.0113v-6.678ZM6 12.5v4.7917C7.4672 18.954 9.6111 20 12 20s4.5328-1.046 6-2.7083V12.5L12 16l-6-3.5ZM3.9693 9 12 13.6846 20.0307 9 12 4.3154 3.9693 9Z"
                    ></path></svg
                >
            </div>

            <div class="texts">
                <h1>100%</h1>

                <h2>Compromiso con el futuro</h2>
            </div>
        </div>
    </div> -->
</section>

<script></script>

<style>
    section {
        position: relative;
        padding: 0 5%;
        padding-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        max-height: 800px;
        background: var(--color-white);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contenido {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 50px;
        max-width: var(--max-width);
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 50%;
        gap: 15px;
    }

    .left h1 {
        font-size: var(--font-size-titulo-hero);
        font-weight: var(--font-weight-titulo-bold);
        line-height: 1.1;
        text-align: start;
        color: var(--color-dark);
    }

    .left span {
        color: var(--primary-color);
    }

    .left p {
        font-size: var(--font-size-parrafo-hero);
        font-weight: var(--font-weight-parrafo);
        text-align: start;
        width: 100%;
        color: var(--color-text);
    }

    .botones {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .column {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 10px;
        height: 100%;
        background-color: rgba(226, 226, 226, 0.144);
        border-radius: 15px;
    }

    .box .icon {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .box svg {
        color: var(--primary-color);
        width: 100%;
        height: 100%;
    }

    .box .texts {
        text-align: center;
    }

    .box h1 {
        font-size: var(--font-size-parrafo);
        font-weight: 600;
        color: var(--primary-color);
    }

    .box h2 {
        max-width: 200px;
        word-wrap: break-word;
        font-size: var(--font-size-parrafo);
        font-weight: 500;
        color: var(--color-white);
    }

    .flecha {
        position: absolute;
        bottom: 2%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        animation: bounce 1.5s infinite;
    }

    .flecha svg {
        width: 100%;
        height: 100%;
        color: var(--color-dark);
    }

    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .right {
        display: grid;
        width: 50%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;
    }
    .item {
        overflow: hidden;
        background-color: #444;
        color: #fff;
        border-radius: 10px;
        font-size: 150%;
    }

    .item-0 {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .item-1 {
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    .item-2 {
        grid-column: 2;
        grid-row: 2 / span 2;
    }

    .item-3 {
        grid-column: 2;
        grid-row: 4 / span 2;
    }

    @media (max-width: 768px) {
        .left {
            width: 100%;
        }

        .right {
            padding-bottom: 50px;
            width: 100%;
        }

        section {
            height: 100%;
            max-height: 100%;
        }

        .column {
            width: 100%;
            gap: 10px;
            grid-template-columns: repeat(1, 1fr);
        }

        .contenido {
            height: 100%;
            padding-top: 20px;
            flex-direction: column;
        }

        .box {
            width: 100%;
        }

        .box h2 {
            max-width: 100%;
        }

        .flecha {
            bottom: 0;
        }
    }

    @media (max-height: 480px) {
        .left {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .botones {
            width: 100%;
            flex-direction: column;
        }
    }
</style>
