<!-- ---
import Boton from "../components/Boton.astro";
---

<section>
    <div class="container">
        <div class="about__content">
            <span class="about__name"
                >Nuestra historia
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="128"
                    height="128"
                    viewBox="0 0 512 512"
                    ><path
                        fill="currentColor"
                        d="M202.24 74C166.11 56.75 115.61 48.3 48 48a31.36 31.36 0 0 0-17.92 5.33A32 32 0 0 0 16 79.9V366c0 19.34 13.76 33.93 32 33.93 71.07 0 142.36 6.64 185.06 47a4.11 4.11 0 0 0 6.94-3V106.82a15.9 15.9 0 0 0-5.46-12A143 143 0 0 0 202.24 74m279.68-20.7A31.33 31.33 0 0 0 464 48c-67.61.3-118.11 8.71-154.24 26a143.3 143.3 0 0 0-32.31 20.78 15.93 15.93 0 0 0-5.45 12v337.13a3.93 3.93 0 0 0 6.68 2.81c25.67-25.5 70.72-46.82 185.36-46.81a32 32 0 0 0 32-32v-288a32 32 0 0 0-14.12-26.61"
                    ></path></svg
                >
            </span>
            <h2 class="about__title">Panaderia avanzada</h2>
            <h3 class="about__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
                possimus voluptatum ad.
            </h3>
            <p class="about__paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Possimus deleniti iusto illo. Iure sapiente vitae dignissimos
                tempore officia dicta ipsa molestiae facilis cumque voluptatem
                quaerat, repudiandae ratione earum. Cumque, a! Sit officiis,
                magni nihil quo placeat dolor doloribus est et, neque unde.
            </p>
            <Boton />
        </div>

        <div class="about__img">
            <img
                src="img/about/4.png"
                alt="Fundador de la panaderia Avanzada"
            />
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const videoTrigger = document.getElementById(
            "videoTrigger",
        ) as HTMLVideoElement;
        const modal = document.getElementById("videoModal") as HTMLDivElement;
        const modalVideo = document.getElementById(
            "modalVideo",
        ) as HTMLVideoElement;
        const closeBtn = document.querySelector(".close") as HTMLSpanElement;
        const btnPlay = document.querySelector(".btn__play") as HTMLDivElement;

        if (videoTrigger && modal && modalVideo && closeBtn && btnPlay) {
            const openModal = () => {
                modal.style.display = "flex";
                modal.classList.remove("closing");
                modalVideo.play();
            };

            const closeModal = () => {
                modal.classList.add("closing");
                setTimeout(() => {
                    modal.style.display = "none";
                    modalVideo.pause();
                }, 300);
            };

            videoTrigger.addEventListener("click", openModal);
            btnPlay.addEventListener("click", openModal);

            closeBtn.addEventListener("click", closeModal);

            window.addEventListener("click", (event: MouseEvent) => {
                if (event.target === modal) {
                    closeModal();
                }
            });
        }
    });
</script>

<style>
    section {
        /* background-color: var(--color-white); */
        padding: 0 8%;
        padding-top: 7rem;
        padding-bottom: 4rem;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.56rem;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 68%;
    }

    .about__img {
        display: flex;
        width: 32%;
        min-height: 412px;
        max-height: 468px;
        /* min-height: 400px;
        max-height: 500px; */
        overflow: hidden;
    }

    .about__img img {
        width: 100%;
        object-fit: contain;
        transition: all 600ms;
    }

    .about__img:hover img {
        transform: scale(1.02);
    }

    /*     .about__img:last-child {
        margin-top: 104px;
    } */

    .about__name {
        display: inline-flex;
        gap: 5px;
        align-items: center;
        font-weight: 400;
        font-size: clamp(1.215em, 4vw + 1rem, 1.315em);
        margin-bottom: 11px;
        position: relative;
        /*        align-self: center; */
        text-transform: uppercase;
        color: var(--color-text-dark);
        padding-bottom: 5px;
        border-bottom: 2px solid var(--color-text-dark);
    }

    .about__name svg {
        width: 1em;
        height: 1em;
    }

    /*  .about__name::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 4px;
        width: 130px;
        height: 2px;
        background-color: var(--color-text-dark);
    } */

    .about__title {
        font-size: clamp(2.25em, 4vw + 1rem, 2.5em);
        font-weight: 700;
        margin-bottom: 18px;
        text-transform: uppercase;
        color: var(--primary-color);
    }

    .about__subtitle {
        font-size: clamp(1.215em, 4vw + 1rem, 1.315em);
        font-weight: 400;
        color: var(--color-text-dark);
        margin-bottom: 28px;
    }

    .about__paragraph {
        font-weight: 400;
        font-size: clamp(0.875em, 4vw + 1rem, 1.215em);
        color: var(--color-text-light);
        margin-bottom: 35px;
    }

    @media screen and (max-width: 1150px) {
        section {
            padding: 0 5%;
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

        .container {
            gap: 1.56rem;
        }

        .about__content {
            width: 60%;
        }

        .about__img {
            width: 40%;
        }
    }

    @media screen and (max-width: 900px) {
        .about__content {
            width: 50%;
        }

        .about__img {
            width: 50%;
        }
    }

    @media screen and (max-width: 750px) {
        .container {
            flex-direction: column-reverse;
            justify-content: center;
            gap: 2.56rem;
        }

        .about__content {
            order: 1;
            width: 100%;
        }

        .about__img {
            width: 100%;
            min-height: 312px;
            max-height: 350px;
        }
    }

    @media screen and (max-width: 595px) {
        .about__content {
            text-align: center;
            align-items: center;
        }
    }
</style> -->

<section>
    
    <p>
        HISTORIA
    </p>

</section>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        border: 1px solid red;
    }

    section p{
        font-size: 2rem;
        font-weight: 900;
    }
</style>