---

---

<section>
    <div class="container">
        <!-- imagenes -->
        <div class="about__images">
            <div class="about__img">
                <img src="img/about/1.avif" alt="Panaderia" />
            </div>
            <div class="about__img">
                <!--  <img src="img/about/2.avif" alt="Panaderia" /> -->
                <video
                    id="videoTrigger"
                    src="videos/video-presentacion.mp4"
                    muted></video>

                <div class="btn__play">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        ><path
                            d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM10.6219 8.41459L15.5008 11.6672C15.6846 11.7897 15.7343 12.0381 15.6117 12.2219C15.5824 12.2658 15.5447 12.3035 15.5008 12.3328L10.6219 15.5854C10.4381 15.708 10.1897 15.6583 10.0672 15.4745C10.0234 15.4088 10 15.3316 10 15.2526V8.74741C10 8.52649 10.1791 8.34741 10.4 8.34741C10.479 8.34741 10.5562 8.37078 10.6219 8.41459Z"
                        ></path></svg
                    >
                </div>
            </div>
        </div>

        <!-- contenido -->
        <div class="about__content">
            <span class="about__name">Nuestra historia</span>
            <h2 class="about__title">Panaderia avanzada</h2>
            <h3 class="about__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
                possimus voluptatum ad.
            </h3>
            <p class="about__paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Possimus deleniti iusto illo. Iure sapiente vitae dignissimos
                tempore officia dicta ipsa molestiae facilis cumque voluptatem
                quaerat, repudiandae ratione earum. Cumque, a! Sit officiis,
                magni nihil quo placeat dolor doloribus est et, neque unde.
            </p>
            <a href="#" class="boton">
                <span>Ver más</span>
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div id="videoModal" class="modal">
        <span class="close">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M10.5859 12L2.79297 4.20706L4.20718 2.79285L12.0001 10.5857L19.793 2.79285L21.2072 4.20706L13.4143 12L21.2072 19.7928L19.793 21.2071L12.0001 13.4142L4.20718 21.2071L2.79297 19.7928L10.5859 12Z"
                ></path></svg
            >
        </span>
        <video
            id="modalVideo"
            src="videos/video-presentacion.mp4"
            controls
            muted
            autoplay></video>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const videoTrigger = document.getElementById(
            "videoTrigger",
        ) as HTMLVideoElement;
        const modal = document.getElementById("videoModal") as HTMLDivElement;
        const modalVideo = document.getElementById(
            "modalVideo",
        ) as HTMLVideoElement;
        const closeBtn = document.querySelector(".close") as HTMLSpanElement;
        const btnPlay = document.querySelector(".btn__play") as HTMLDivElement;

        if (videoTrigger && modal && modalVideo && closeBtn && btnPlay) {
            const openModal = () => {
                modal.style.display = "flex";
                modal.classList.remove("closing");
                modalVideo.play();
            };

            const closeModal = () => {
                modal.classList.add("closing");
                setTimeout(() => {
                    modal.style.display = "none";
                    modalVideo.pause();
                }, 300);
            };

            videoTrigger.addEventListener("click", openModal);
            btnPlay.addEventListener("click", openModal);

            closeBtn.addEventListener("click", closeModal);

            window.addEventListener("click", (event: MouseEvent) => {
                if (event.target === modal) {
                    closeModal();
                }
            });
        }
    });
</script>

<style>
    section {
        background-color: var(--color-white);
        padding: 5rem 8%;
        height: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.56rem;
    }

    .about__images {
        display: flex;
        justify-content: stretch;
        width: 100%;
        gap: 1.56rem;
    }

    .about__img {
        position: relative;
        width: 100%;
        min-width: 285px;
        height: auto;
        overflow: hidden;
    }

    .about__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 600ms;
    }

    .about__img video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 600ms;
        cursor: pointer;
    }

    .btn__play {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: transparent;
        color: #dbdbdbe5;
        transition: 0.5s ease;
        user-select: none;
        padding: 5px;
        font-size: 2rem;
        cursor: pointer;
        transform: translate(-50%, -50%);
    }

    .btn__play svg {
        width: 125px;
        transition: all 600ms;
    }

    .about__img:hover img {
        transform: scale(1.2);
    }

    .about__img:hover video,
    .about__img:hover .btn__play svg {
        transform: scale(1.2);
    }

    /*     .about__img:last-child {
        margin-top: 104px;
    } */

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .about__name {
        font-weight: 400;
        font-size: 0.875rem;
        margin-bottom: 11px;
        position: relative;
        text-transform: uppercase;
        color: var(--color-text-dark);
    }

    .about__name::after {
        content: "";
        position: absolute;
        top: 8.5px;
        right: -62px;
        width: 48px;
        height: 2px;
        background-color: var(--color-text-dark);
    }

    .about__title {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 18px;
        text-transform: uppercase;
        color: var(--primary-color);
    }

    .about__subtitle {
        font-size: 1.215rem;
        font-weight: 400;
        color: var(--color-text-dark);
        margin-bottom: 28px;
    }

    .about__paragraph {
        font-weight: 400;
        color: var(--color-text-light);
        margin-bottom: 45px;
    }

    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        border: 2px solid var(--color-dark);
        color: var(--color-dark);
        text-align: center;
        font-size: 20px;
        padding: 8px;
        width: 120px;
        height: 50px;
        cursor: pointer;
        text-decoration: none;
        line-height: 40px; 
    }

    .boton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .boton span:after {
        content: "»";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        transition: 0.5s;
    }

    .boton:hover {
        color: var(--color-white);
        background-color: var(--color-dark);
    }

    .boton:hover span {
        padding-right: 15px;
    }

    .boton:hover span:after {
        opacity: 1;
        right: 0;
    }

    @media screen and (max-width: 1150px) {
        section {
            padding: 5rem 5%;
        }

        .container {
            gap: 1.56rem;
        }

        .about__images {
            flex-direction: column;
            gap: 1rem;
        }

        .about__img {
            height: 270px;
            width: 100%;
        }

        .about__img:last-child {
            margin-top: 0;
        }

        .about__img:nth-child(2) {
            order: -1;
        }
    }

    @media screen and (max-width: 576px) {
        .container {
            flex-direction: column-reverse;
            justify-content: center;
        }

        .about__content {
            text-align: center;
            align-items: center;
        }

        .about__name {
            text-align: 1.5rem;
        }

        .about__name::after {
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
        }

        .about__paragraph {
            margin-bottom: 1.56rem;
        }
    }

    /* Estilos de la Modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.664);
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.3s ease-in-out;
    }

    .modal.closing {
        animation: fadeOut 0.3s ease-in-out;
    }

    .modal video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        object-fit: cover;
        border: 1px solid var(--primary-color);
    }

    .close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 50px;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }

    .close svg {
        width: 40px;
        height: 40px;
    }

    .close:hover {
        background-color: rgba(0, 0, 0, 0.397);
    }

    @media (max-width: 900px) {
        .modal video {
            width: 90%;
        }
    }

    /* Animación para el modal */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>
