---
import Boton from "./ui/Boton.astro";
---

<section>
    <div class="textos">
        <h1>Ayúdanos a Alcanzar Nuestras <span>Metas.</span></h1>

        <p>
            Tus donaciones nos ayudan a adquirir el equipo y los suministros que
            necesitamos para capacitar a más jóvenes en el arte de la repostería
            y brindarles habilidades valiosas para su futuro.
        </p>
    </div>

    <div class="contenido">
        <div class="container-carousel">
            <div class="carruseles" id="slider">
                <section class="slider-section">
                    <div class="card">
                        <div class="img">
                            <img
                                src="/img/metas/horno.png"
                                alt="meta a lograr: horno"
                            />
                        </div>

                        <div class="detalles">
                            <div class="card-text">
                                <h3>Horno</h3>
                                <p>
                                    Juego completo de herramientas profesionales
                                    para hornear, incluido equipo de medición.
                                </p>
                            </div>

                            <div class="contenido-inferior">
                                <div class="barra-content">
                                    <div class="precio">
                                        <p>S/.600</p>
                                        <p>Objetivo: <span>S/.800</span></p>
                                    </div>
                                    <div class="barra">
                                        <div class="progreso-barra"></div>
                                    </div>
                                    <div class="progreso">
                                        <p>81% completado</p>
                                    </div>
                                </div>

                                <Boton
                                    text="Contribuir con la Meta"
                                    height="40px"
                                    fontSize="clamp(0.5em, 4vw + 1rem, 0.8em)"
                                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5.005 9.003a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.529.579 3.353 1.498l3.147.002a5 5 0 0 1 4.516 2.851c-2.365 3.12-6.194 5.149-10.516 5.149-2.79 0-5.15-.604-7.061-1.658a1 1 0 0 1-.94.658h-3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm1 3v5.02l.045.034c1.794 1.26 4.133 1.946 6.955 1.946 3.004 0 5.798-1.156 7.835-3.13l.133-.133-.12-.1a3 3 0 0 0-1.643-.63l-.205-.007-2.112-.001q.11.484.112 1v1h-9v-2h6.79l-.034-.079a2.5 2.5 0 0 0-2.092-1.415l-.164-.005h-2.93a5 5 0 0 0-3.57-1.5m-2-1h-1v7h1zm9.646-7.425.354.354.353-.354a2.5 2.5 0 0 1 3.536 3.536l-3.89 3.889-3.888-3.89a2.5 2.5 0 1 1 3.535-3.535M11.53 4.992a.5.5 0 0 0-.059.637l.058.07 2.475 2.475 2.476-2.475a.5.5 0 0 0 .058-.637l-.058-.07a.5.5 0 0 0-.638-.057l-.07.057-1.769 1.77-1.767-1.77-.068-.058a.5.5 0 0 0-.638.058"/></svg>`}
                                    destino="#"
                                />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="slider-section">
                    <div class="card">
                        <div class="img">
                            <img
                                src="/img/metas/licuadora.png"
                                alt="meta a lograr: horno"
                            />
                        </div>

                        <div class="detalles">
                            <div class="card-text">
                                <h3>Cafetera</h3>
                                <p>
                                    Juego completo de herramientas profesionales
                                    para hornear, incluido equipo de medición.
                                </p>
                            </div>

                            <div class="contenido-inferior">
                                <div class="barra-content">
                                    <div class="precio">
                                        <p>S/.600</p>
                                        <p>Objetivo: <span>S/.800</span></p>
                                    </div>
                                    <div class="barra">
                                        <div class="progreso-barra"></div>
                                    </div>
                                    <div class="progreso">
                                        <p>81% completado</p>
                                    </div>
                                </div>

                                <Boton
                                    text="Contribuir con la Meta"
                                    height="40px"
                                    fontSize="clamp(0.5em, 4vw + 1rem, 0.8em)"
                                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5.005 9.003a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.529.579 3.353 1.498l3.147.002a5 5 0 0 1 4.516 2.851c-2.365 3.12-6.194 5.149-10.516 5.149-2.79 0-5.15-.604-7.061-1.658a1 1 0 0 1-.94.658h-3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm1 3v5.02l.045.034c1.794 1.26 4.133 1.946 6.955 1.946 3.004 0 5.798-1.156 7.835-3.13l.133-.133-.12-.1a3 3 0 0 0-1.643-.63l-.205-.007-2.112-.001q.11.484.112 1v1h-9v-2h6.79l-.034-.079a2.5 2.5 0 0 0-2.092-1.415l-.164-.005h-2.93a5 5 0 0 0-3.57-1.5m-2-1h-1v7h1zm9.646-7.425.354.354.353-.354a2.5 2.5 0 0 1 3.536 3.536l-3.89 3.889-3.888-3.89a2.5 2.5 0 1 1 3.535-3.535M11.53 4.992a.5.5 0 0 0-.059.637l.058.07 2.475 2.475 2.476-2.475a.5.5 0 0 0 .058-.637l-.058-.07a.5.5 0 0 0-.638-.057l-.07.057-1.769 1.77-1.767-1.77-.068-.058a.5.5 0 0 0-.638.058"/></svg>`}
                                    destino="#"
                                />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="slider-section">
                    <div class="card">
                        <div class="img">
                            <img
                                src="/img/metas/horno.png"
                                alt="meta a lograr: horno"
                            />
                        </div>

                        <div class="detalles">
                            <div class="card-text">
                                <h3>Horno</h3>
                                <p>
                                    Juego completo de herramientas profesionales
                                    para hornear, incluido equipo de medición.
                                </p>
                            </div>

                            <div class="contenido-inferior">
                                <div class="barra-content">
                                    <div class="precio">
                                        <p>S/.600</p>
                                        <p>Objetivo: <span>S/.800</span></p>
                                    </div>
                                    <div class="barra">
                                        <div class="progreso-barra"></div>
                                    </div>
                                    <div class="progreso">
                                        <p>81% completado</p>
                                    </div>
                                </div>

                                <Boton
                                    text="Contribuir con la Meta"
                                    height="40px"
                                    fontSize="clamp(0.5em, 4vw + 1rem, 0.8em)"
                                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5.005 9.003a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.529.579 3.353 1.498l3.147.002a5 5 0 0 1 4.516 2.851c-2.365 3.12-6.194 5.149-10.516 5.149-2.79 0-5.15-.604-7.061-1.658a1 1 0 0 1-.94.658h-3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm1 3v5.02l.045.034c1.794 1.26 4.133 1.946 6.955 1.946 3.004 0 5.798-1.156 7.835-3.13l.133-.133-.12-.1a3 3 0 0 0-1.643-.63l-.205-.007-2.112-.001q.11.484.112 1v1h-9v-2h6.79l-.034-.079a2.5 2.5 0 0 0-2.092-1.415l-.164-.005h-2.93a5 5 0 0 0-3.57-1.5m-2-1h-1v7h1zm9.646-7.425.354.354.353-.354a2.5 2.5 0 0 1 3.536 3.536l-3.89 3.889-3.888-3.89a2.5 2.5 0 1 1 3.535-3.535M11.53 4.992a.5.5 0 0 0-.059.637l.058.07 2.475 2.475 2.476-2.475a.5.5 0 0 0 .058-.637l-.058-.07a.5.5 0 0 0-.638-.057l-.07.057-1.769 1.77-1.767-1.77-.068-.058a.5.5 0 0 0-.638.058"/></svg>`}
                                    destino="#"
                                />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="slider-section">
                    <div class="card">
                        <div class="img">
                            <img
                                src="/img/metas/licuadora.png"
                                alt="meta a lograr: horno"
                            />
                        </div>

                        <div class="detalles">
                            <div class="card-text">
                                <h3>Horno</h3>
                                <p>
                                    Juego completo de herramientas profesionales
                                    para hornear, incluido equipo de medición.
                                </p>
                            </div>

                            <div class="contenido-inferior">
                                <div class="barra-content">
                                    <div class="precio">
                                        <p>S/.600</p>
                                        <p>Objetivo: <span>S/.800</span></p>
                                    </div>
                                    <div class="barra">
                                        <div class="progreso-barra"></div>
                                    </div>
                                    <div class="progreso">
                                        <p>81% completado</p>
                                    </div>
                                </div>

                                <Boton
                                    text="Contribuir con la Meta"
                                    height="40px"
                                    fontSize="clamp(0.5em, 4vw + 1rem, 0.8em)"
                                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5.005 9.003a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.529.579 3.353 1.498l3.147.002a5 5 0 0 1 4.516 2.851c-2.365 3.12-6.194 5.149-10.516 5.149-2.79 0-5.15-.604-7.061-1.658a1 1 0 0 1-.94.658h-3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm1 3v5.02l.045.034c1.794 1.26 4.133 1.946 6.955 1.946 3.004 0 5.798-1.156 7.835-3.13l.133-.133-.12-.1a3 3 0 0 0-1.643-.63l-.205-.007-2.112-.001q.11.484.112 1v1h-9v-2h6.79l-.034-.079a2.5 2.5 0 0 0-2.092-1.415l-.164-.005h-2.93a5 5 0 0 0-3.57-1.5m-2-1h-1v7h1zm9.646-7.425.354.354.353-.354a2.5 2.5 0 0 1 3.536 3.536l-3.89 3.889-3.888-3.89a2.5 2.5 0 1 1 3.535-3.535M11.53 4.992a.5.5 0 0 0-.059.637l.058.07 2.475 2.475 2.476-2.475a.5.5 0 0 0 .058-.637l-.058-.07a.5.5 0 0 0-.638-.057l-.07.057-1.769 1.77-1.767-1.77-.068-.058a.5.5 0 0 0-.638.058"/></svg>`}
                                    destino="#"
                                />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="slider-section">
                    <div class="card">
                        <div class="img">
                            <img
                                src="/img/metas/horno.png"
                                alt="meta a lograr: horno"
                            />
                        </div>

                        <div class="detalles">
                            <div class="card-text">
                                <h3>Horno</h3>
                                <p>
                                    Juego completo de herramientas profesionales
                                    para hornear, incluido equipo de medición.
                                </p>
                            </div>

                            <div class="contenido-inferior">
                                <div class="barra-content">
                                    <div class="precio">
                                        <p>S/.600</p>
                                        <p>Objetivo: <span>S/.800</span></p>
                                    </div>
                                    <div class="barra">
                                        <div class="progreso-barra"></div>
                                    </div>
                                    <div class="progreso">
                                        <p>81% completado</p>
                                    </div>
                                </div>

                                <Boton
                                    text="Contribuir con la Meta"
                                    height="40px"
                                    fontSize="clamp(0.5em, 4vw + 1rem, 0.8em)"
                                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5.005 9.003a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.529.579 3.353 1.498l3.147.002a5 5 0 0 1 4.516 2.851c-2.365 3.12-6.194 5.149-10.516 5.149-2.79 0-5.15-.604-7.061-1.658a1 1 0 0 1-.94.658h-3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm1 3v5.02l.045.034c1.794 1.26 4.133 1.946 6.955 1.946 3.004 0 5.798-1.156 7.835-3.13l.133-.133-.12-.1a3 3 0 0 0-1.643-.63l-.205-.007-2.112-.001q.11.484.112 1v1h-9v-2h6.79l-.034-.079a2.5 2.5 0 0 0-2.092-1.415l-.164-.005h-2.93a5 5 0 0 0-3.57-1.5m-2-1h-1v7h1zm9.646-7.425.354.354.353-.354a2.5 2.5 0 0 1 3.536 3.536l-3.89 3.889-3.888-3.89a2.5 2.5 0 1 1 3.535-3.535M11.53 4.992a.5.5 0 0 0-.059.637l.058.07 2.475 2.475 2.476-2.475a.5.5 0 0 0 .058-.637l-.058-.07a.5.5 0 0 0-.638-.057l-.07.057-1.769 1.77-1.767-1.77-.068-.058a.5.5 0 0 0-.638.058"/></svg>`}
                                    destino="#"
                                />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="slider-section">
                    <div class="card">
                        <div class="img">
                            <img
                                src="/img/metas/licuadora.png"
                                alt="meta a lograr: horno"
                            />
                        </div>

                        <div class="detalles">
                            <div class="card-text">
                                <h3>Horno</h3>
                                <p>
                                    Juego completo de herramientas profesionales
                                    para hornear, incluido equipo de medición.
                                </p>
                            </div>

                            <div class="contenido-inferior">
                                <div class="barra-content">
                                    <div class="precio">
                                        <p>S/.600</p>
                                        <p>Objetivo: <span>S/.800</span></p>
                                    </div>
                                    <div class="barra">
                                        <div class="progreso-barra"></div>
                                    </div>
                                    <div class="progreso">
                                        <p>81% completado</p>
                                    </div>
                                </div>

                                <Boton
                                    text="Contribuir con la Meta"
                                    height="40px"
                                    fontSize="clamp(0.5em, 4vw + 1rem, 0.8em)"
                                    icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5.005 9.003a1 1 0 0 1 1 1 6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.529.579 3.353 1.498l3.147.002a5 5 0 0 1 4.516 2.851c-2.365 3.12-6.194 5.149-10.516 5.149-2.79 0-5.15-.604-7.061-1.658a1 1 0 0 1-.94.658h-3a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1zm1 3v5.02l.045.034c1.794 1.26 4.133 1.946 6.955 1.946 3.004 0 5.798-1.156 7.835-3.13l.133-.133-.12-.1a3 3 0 0 0-1.643-.63l-.205-.007-2.112-.001q.11.484.112 1v1h-9v-2h6.79l-.034-.079a2.5 2.5 0 0 0-2.092-1.415l-.164-.005h-2.93a5 5 0 0 0-3.57-1.5m-2-1h-1v7h1zm9.646-7.425.354.354.353-.354a2.5 2.5 0 0 1 3.536 3.536l-3.89 3.889-3.888-3.89a2.5 2.5 0 1 1 3.535-3.535M11.53 4.992a.5.5 0 0 0-.059.637l.058.07 2.475 2.475 2.476-2.475a.5.5 0 0 0 .058-.637l-.058-.07a.5.5 0 0 0-.638-.057l-.07.057-1.769 1.77-1.767-1.77-.068-.058a.5.5 0 0 0-.638.058"/></svg>`}
                                    destino="#"
                                />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="desplazamiento">
            <div class="btn-left" title="Anterior">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="128"
                    height="128"
                    viewBox="0 0 24 24"
                    ><g fill="none" fill-rule="evenodd"
                        ><path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035q-.016-.005-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427q-.004-.016-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093q.019.005.029-.008l.004-.014-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014-.034.614q.001.018.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"
                        ></path><path
                            fill="currentColor"
                            d="M7.94 13.06a1.5 1.5 0 0 1 0-2.12l5.656-5.658a1.5 1.5 0 1 1 2.121 2.122L11.122 12l4.596 4.596a1.5 1.5 0 1 1-2.12 2.122l-5.66-5.658Z"
                        ></path></g
                    ></svg
                >
            </div>
            <h3>1 de 5</h3>
            <div class="btn-right" title="Siguiente">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="128"
                    height="128"
                    viewBox="0 0 24 24"
                    ><g fill="none" fill-rule="evenodd"
                        ><path
                            d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035q-.016-.005-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427q-.004-.016-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093q.019.005.029-.008l.004-.014-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014-.034.614q.001.018.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"
                        ></path><path
                            fill="currentColor"
                            d="M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12 8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z"
                        ></path></g
                    ></svg
                >
            </div>
        </div>

        <Boton
            text="Ver todas las metas"
            width="250px"
            height="45px"
            bgColor="var(--color-white)"
            hoverColor="var(--color-white-hover)"
            fontWeight="500"
            fontSize="clamp(0.8em, 4vw + 1rem, 1em)"
            border="0.125em solid var(--color-dark-border)"
            icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 16V7H8V5h11v11zm-5 5v-9H3v-2h11v11z"/></svg>`}
            destino="#"
            ;
        />
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const btnLeft = document.querySelector(".btn-left") as HTMLElement;
        const btnRight = document.querySelector(".btn-right") as HTMLElement;
        const slider = document.querySelector("#slider") as HTMLElement;
        const sliderSections = document.querySelectorAll(".slider-section");
        const pageIndicator = document.querySelector(
            ".desplazamiento h3",
        ) as HTMLElement;

        if (
            !btnLeft ||
            !btnRight ||
            !slider ||
            !pageIndicator ||
            sliderSections.length === 0
        ) {
            console.error(
                "Error: No se encontraron los elementos del carrusel.",
            );
            return;
        }

        let operacion = 0;
        let counter = 0;
        const totalSlides = sliderSections.length;
        let slidesPerStep = window.innerWidth <= 950 ? 1 : 2;
        const widthImg = 100 / totalSlides;

        function updateUI() {
            pageIndicator.textContent = `${counter + 1} de ${totalSlides}`;
            btnLeft.classList.toggle("disable", counter === 0);
            btnRight.classList.toggle(
                "disable",
                counter >= totalSlides - slidesPerStep,
            );
        }

        function moveToRight() {
            if (counter < totalSlides - slidesPerStep) {
                counter += slidesPerStep;
                if (counter >= totalSlides) counter = totalSlides - 1;
                operacion = widthImg * counter;
                slider.style.transform = `translate(-${operacion}%)`;
                slider.style.transition = "all ease .6s";
            }
            updateUI();
        }

        function moveToLeft() {
            if (counter > 0) {
                counter -= slidesPerStep;
                if (counter < 0) counter = 0;
                operacion = widthImg * counter;
                slider.style.transform = `translate(-${operacion}%)`;
                slider.style.transition = "all ease .6s";
            }
            updateUI();
        }

        window.addEventListener("resize", () => {
            slidesPerStep = window.innerWidth <= 950 ? 1 : 2;
            updateUI();
        });

        btnLeft.addEventListener("click", moveToLeft);
        btnRight.addEventListener("click", moveToRight);

        updateUI();
    });
</script>

<style>
    section:not(.carruseles section) {
        padding: 80px 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white);
        gap: 60px;
        overflow: hidden;
    }

    .textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .textos h1 {
        font-size: var(--font-size-titulo);
        font-weight: 600;
        color: var(--color-dark);
        line-height: 1.1;
        text-align: center;
    }

    .textos p {
        font-size: clamp(0.5em, 4vw + 1rem, 1em);
        font-weight: 400;
        width: 60%;
        color: var(--color-text);
        text-align: center;
    }

    span {
        color: var(--primary-color);
    }

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        gap: 15px;
    }

    .container-carousel {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .carruseles {
        width: 300%;
        height: 100%;
        display: flex;
        gap: 15px;
    }

    .slider-section {
        width: calc(100% / 3);
        height: 100%;
    }

    .card {
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .card-text p {
        font-size: clamp(0.5em, 4vw + 1rem, 1em);
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-white);
    }

    .card-text h3 {
        font-size: clamp(0.5em, 4vw + 1rem, 1.25em);
        text-transform: uppercase;
        font-weight: 700;
        color: var(--color-white);
    }

    .detalles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 15px;
        width: 60%;
        background-color: var(--color-dark);
    }

    .contenido-inferior {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .barra-content {
        width: 100%;
    }

    .barra {
        width: 100%;
        height: 10px;
        background: #ddd;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

    .progreso-barra {
        width: 81%;
        height: 100%;
        background: var(--primary-color);
        transition: width 0.5s ease-in-out;
    }

    .progreso {
        display: flex;
        justify-content: end;
        font-size: clamp(0.5em, 4vw + 1rem, 0.8em);
        color: gray;
    }

    .precio {
        display: flex;
        justify-content: space-between;
    }

    .precio p {
        font-size: clamp(0.5em, 4vw + 1rem, 0.9em);
        font-weight: 400;
        color: var(--color-white);
    }

    .precio span {
        font-weight: 500;
    }

    .img {
        width: 40%;
        height: 280px;
        display: flex;
        padding: 10px;
        align-items: center;
        background: radial-gradient(
            circle,
            #b4b4b4 0%,
            #d6d6d6 50%,
            #c2c1c1 100%
        );
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.3s ease;
    }

    .img:hover img {
        transform: scale(1.025);
    }

    .desplazamiento {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .desplazamiento h3 {
        font-size: clamp(0.8em, 4vw + 1rem, 1em);
        font-weight: 500;
    }

    .btn-left,
    .btn-right {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--color-white);
        border: 0.125em solid var(--color-dark);
    }

    .btn-left:hover,
    .btn-right:hover {
        background-color: var(--color-white-hover);
    }

    .btn-left svg,
    .btn-right svg {
        color: var(--color-dark);
        width: 20px;
        height: 20px;
    }

    .disable {
        opacity: 0.5;
        pointer-events: none;
    }

    @media (max-width: 950px) {
        .carruseles {
            width: 600%;
        }
        .slider-section {
            width: calc(100% / 6);
        }
    }

    @media (max-width: 450px) {
        .textos p {
            width: 100%;
        }

        .detalles {
            gap: 15px;
        }

        .card {
            flex-direction: column;
        }

        .detalles {
            width: 100%;
        }

        .img {
            width: 100%;
            height: 180px;
        }
    }
</style>
