---
import Boton from "./ui/Boton.astro";
---

<section>
    <div class="video">
        <video id="videoPlayer" src="/videos/video-presentacion.mp4"></video>
        <div class="overlay">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="128"
                height="128"
                viewBox="0 0 24 24"
            >
                <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M5.5 12V5.624c0-1.974 2.18-3.17 3.844-2.108l10 6.376c1.541.983 1.541 3.233 0 4.216l-10 6.376C7.68 21.545 5.5 20.35 5.5 18.376z"
                ></path>
            </svg>
            <p>Haz clic para reproducir</p>
        </div>
    </div>

    <div class="titulo">
        <h1>
            Transforma Buenas <span>Intenciones</span> en Buenas <span
                >Acciones</span
            >
        </h1>

        <p>
            Conoce cómo nuestro programa de panadería transforma vidas,
            desarrolla habilidades y crea oportunidades para los jóvenes de
            nuestra comunidad.
        </p>
    </div>

    <div class="contenido">
        <h1>"Levantándonos Juntos: La Historia de <span>IFRATI</span>"</h1>
        <p>
            Este breve documental muestra nuestra trayectoria, el impacto que
            hemos generado y las historias de jóvenes cuyas vidas han sido
            transformadas gracias a nuestro programa de capacitación.
        </p>

        <Boton
            text="Aportar a la causa"
            width="220px"
            height="50px"
            bgColor="var(--primary-color)"
            hoverColor="var(--primary-color-hover)"
            fontWeight="500"
            fontSize="var(--font-size-boton)"
            icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3.1611 4.4688c2.424-2.424 6.286-2.5333 8.8397-.328 2.552-2.2053 6.4141-2.096 8.838.328 2.4196 2.4196 2.5328 6.2722.3397 8.8259l-7.7643 7.7911c-.7456.7455-1.9333.7794-2.719.1016l-.1094-.1016-7.7644-7.7911C.6283 10.741.7415 6.8884 3.1611 4.4687ZM4.5753 5.883C2.8682 7.59 2.8194 10.3276 4.429 12.0937l.1463.1532L12 19.6715l5.3026-5.304-3.5349-3.5348-1.0606 1.0607c-1.1716 1.1715-3.0711 1.1715-4.2427 0-1.1715-1.1716-1.1715-3.0711 0-4.2427l2.1012-2.1025c-1.7127-1.371-4.1948-1.3083-5.837.1884l-.1533.1464Zm8.4853 2.8284c.3905-.3905 1.0237-.3905 1.4142 0l4.242 4.2419.7078-.7064c1.7573-1.7573 1.7573-4.6066 0-6.364-1.7072-1.707-4.4447-1.7559-6.2107-.1463l-.1533.1464-3.182 3.182c-.3626.3626-.3885.9344-.0777 1.3269l.0777.0873c.3627.3626.9345.3885 1.327.0777l.0873-.0777 1.7677-1.7678Z"/></svg>`}
            destino="#"
            ;
        />
    </div>
</section>

<script></script>

<style>
    section {
        padding: 50px 5%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        align-items: center;
        background-color: var(--color-white);
        gap: 30px;
        overflow: hidden;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 15px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .titulo h1 {
        font-size: var(--font-size-titulo);
        font-weight: 600;
        color: var(--color-dark);
        line-height: 1.1;
        text-align: start;
    }

    .titulo p {
        font-size: var(--font-size-parrafo);
        font-weight: 400;
        width: 100%;
        color: var(--color-text);
        text-align: start;
    }

    span {
        color: var(--primary-color);
    }

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 15px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .contenido h1 {
        font-size: var(--font-size-subtitulo);
        font-weight: 500;
        color: var(--color-dark);
        text-align: start;
    }

    .contenido p {
        font-size: var(--font-size-parrafo);
        font-weight: 400;
        color: var(--color-text);
        text-align: start;
    }

    .video {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: block;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
        font-size: var(--font-size-parrafo);
        font-weight: 400;
        text-align: center;
        transition: background 0.3s ease;
        border-radius: 10px;
    }

    .overlay svg {
        width: 80px;
        height: 80px;
        fill: white;
    }

    .video:hover .overlay {
        background: rgba(0, 0, 0, 0.4);
    }

    .video:hover .overlay svg {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    @media (max-width: 1050px) {
        section {
            display: grid;
            grid-template-columns: 1fr; 
            grid-template-rows: auto; 
            gap: 50px; 
        }

        .titulo {
            grid-column: 1 / -1; 
            grid-row: 1;
        }

        .titulo h1 {
            text-align: center;
        }

        .titulo p {
            text-align: center;
        }

        .video {
            grid-column: 1 / -1;
            grid-row: 2;
        }

        .contenido {
            grid-column: 1 / -1;
            grid-row: 3;
            align-items: center;
        }

        .contenido h1 {
            text-align: center;
        }

        .contenido p {
            text-align: center;
        }
    }
</style>
