---

---

<section id="proposito">
    <div class="textos">
        <h1>Horneando con Propósito, <span>Creando</span> Futuros Profesionales.</h1>

        <p>
            Más que una simple panadería, somos un movimiento dedicado a
            transformar vidas a través del arte de hornear y el poder de la
            comunidad.
        </p>
    </div>

    <div class="cards">
        <div class="card">
            <div class="encabezado">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="M18.3643 10.9792c1.5621 1.5621 1.5621 4.0947 0 5.6568l-5.6568 5.6569c-.3905.3905-1.0237.3905-1.4142 0L5.6364 16.636c-1.562-1.5621-1.562-4.0947 0-5.6568 1.5621-1.5621 4.0948-1.5621 5.6569 0l.7064.7064.7078-.7064c1.5621-1.5621 4.0947-1.5621 5.6568 0ZM12.0004 1c2.2091 0 4 1.7909 4 4 0 2.2091-1.7909 4-4 4-2.2092 0-4-1.7909-4-4 0-2.2091 1.7908-4 4-4Z"
                    ></path></svg
                >
                <h1>Nuestra Pasión</h1>
            </div>
            <div class="contenido">
                <p>
                    Creemos en el poder transformador del trabajo significativo
                    y el desarrollo de habilidades. Nuestra misión es brindar a
                    los jóvenes las herramientas, la capacitación y la confianza
                    que necesitan para construir un futuro sostenible.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="encabezado">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="M12 20c4.4183 0 8-3.5817 8-8s-3.5817-8-8-8-8 3.5817-8 8 3.5817 8 8 8Zm0 2C6.4771 22 2 17.5228 2 12 2 6.4771 6.4771 2 12 2c5.5228 0 10 4.4771 10 10 0 5.5228-4.4772 10-10 10Zm0-6c2.2091 0 4-1.7909 4-4 0-2.2091-1.7909-4-4-4-2.2091 0-4 1.7909-4 4 0 2.2091 1.7909 4 4 4Zm0 2c-3.3137 0-6-2.6863-6-6s2.6863-6 6-6 6 2.6863 6 6-2.6863 6-6 6Zm0-4c-1.1046 0-2-.8954-2-2s.8954-2 2-2 2 .8954 2 2-.8954 2-2 2Z"
                    ></path></svg
                >
                <h1>Nuestro Proposito</h1>
            </div>
            <div class="contenido">
                <p>
                    Imaginamos un mundo donde cada joven tenga acceso a las
                    oportunidades, la mentoría y el apoyo comunitario que
                    necesita para prosperar. A través de nuestra panadería,
                    estamos creando caminos hacia la independencia y la
                    plenitud.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="encabezado">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    ><path
                        d="m19.1642 12-6.2071-6.207-1.4142 1.4141L16.3358 12l-4.7929 4.7929 1.4142 1.4142L19.1642 12Zm-5.6499 0-6.207-6.207L5.893 7.207 10.686 12 5.893 16.7929l1.4142 1.4142L13.5143 12Z"
                    ></path></svg
                >
                <h1>Nuestra Trayectoria</h1>
            </div>
            <div class="contenido">
                <p>
                    Lo que comenzó como una pequeña panadería con un gran
                    corazón se ha convertido en un pilar de la comunidad. Desde
                    nuestra fundación, hemos expandido nuestros programas,
                    alianzas e impacto, manteniéndonos fieles a nuestros valores
                    fundamentales.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        padding: 80px 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white);;
        gap: 50px;
        overflow: hidden;
    }

    .textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .textos h1 {
        font-size: var(--font-size-titulo);
        font-weight: 600;
        color: var(--color-dark);
        line-height: 1.1;
        text-align: center;
    }

    .textos p {
        font-size: var(--font-size-parrafo);
        font-weight: 400;
        width: 60%;
        color: var(--color-text);
        text-align: center;
    }

    .textos span {
        color: var(--primary-color);
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 2022.09px;
        gap: 30px;
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        padding: 30px;
        gap: 20px;
        cursor: default;
        border: 2px solid var(--primary-color);
        transition: transform 0.3s ease;
    }

    .card p {
        font-size: var(--font-size-parrafo);
        font-weight: 400;
        color: var(--color-text);
    }

    .card:hover {
        transform: scale(1.025);
        border-color: var(--primary-color-dark);
        transition:
            transform 0.3s ease,
            border-color 0.3s ease;
    }

    .encabezado {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        gap: 10px;
    }

    .encabezado h1 {
        color: var(--color-dark);
        font-size: var(--font-size-subtitulo);
        font-weight: 500;
    }

    .encabezado svg {
        color: var(--primary-color);
        width: 50px;
        height: 50px;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    @media (max-width: 950px) {
        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
        .card:nth-child(3) {
            grid-column: span 2; 
        }

        .cita-container {
            width: 80%;
        }
    }

    @media (max-width: 650px) {
        .textos p {
            width: 100%;
        }

        .cards {
            display: flex;
            flex-direction: column;
        }
    }
</style>
