---
// FUENTE: POPPINS -> STATIC - Todas las fuentes de poppins
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
// Supports weights 100-900
/* import "@fontsource-variable/jost"; */

import Boton from "../components/ui/Boton.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Página web de la panaderia benefica IFRATI"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<!--- Parte izquierda del nav - logo --->
			<a class="nav__logo">IFRATI</a>

			<div class="content-right">
				<!--- Lista del nav --->
				<nav>
					<ul class="nav__links" id="nav-links">
						<li><a href="/">Inicio</a></li>
						<!-- <li><a href="#">Productos</a></li> -->
						<li><a href="galeria">Galería</a></li>
						<li><a href="#">Talentos</a></li>
						<li><a href="#">Beneficios</a></li>
						<li><a href="#">Noticias</a></li>
						<!-- <li><a href="#">Contáctanos</a></li> -->
					</ul>
				</nav>

				<!--- Boton de donar --->
				<Boton
					text="Donar"
					height="35px"
					fontSize="0.8em"
					fontWeight="500"
					icon={`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12.001 4.5285C14.35 2.42 17.98 2.49 20.2426 4.7574c2.2627 2.2673 2.3404 5.8796.236 8.2356l-8.4787 8.492-8.4785-8.492c-2.1044-2.356-2.0257-5.974.236-8.2356 2.2642-2.2642 5.8878-2.3405 8.2436-.2289Zm6.826 1.6416c-1.4991-1.5022-3.9194-1.563-5.49-.1532l-1.3351 1.1983-1.3358-1.1974c-1.5751-1.4118-3.991-1.3497-5.4945.1538-1.4898 1.4897-1.5646 3.8757-.1917 5.4516L12 18.6543l7.0202-7.0311c1.3734-1.5765 1.2989-3.958-.1931-5.4531Z"/></svg>`}
					destino="#"
				/>

				<!--- Sección de la derecha del navbar - boton menú --->
				<div class="menu">
					<button class="menu-btn">
						<div></div>
						<div></div>
						<div></div>
					</button>
				</div>
			</div>
		</header>

		<slot />
	</body>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const header = document.querySelector("header");
			const menu = document.querySelector(".menu-btn");
			const navlist = document.querySelector(".nav__links");

			window.addEventListener("scroll", () => {
				header?.classList.toggle("sticky", window.scrollY > 0);
			});

			if (menu && navlist) {
				menu.addEventListener("click", () => {
					navlist.classList.toggle("open");
					/* menu.classList.toggle("open"); */
					document.body.classList.toggle("no-scroll");
				});
			}
		});
	</script>
</html>

<style is:global>
	html,
	body,
	* {
		font-family: 'Poppins', sans-serif;
		/* font-family: "Jost Variable", sans-serif; */
		font-style: normal;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
		text-decoration: none;
	}

	:root {
		/* COLORES PRINCIPALES */
		--primary-color: #F4A261;
		--primary-color-hover: #a07a4f;
		--primary-color-dark: #cf9048;
		--color-white: #f5f5f5;
		--color-white-hover: #d3d3d3;
		--color-dark: #161722;
		--color-dark-border: #57575c;
		--navbar-color: #161722;

		/* COLORES DE LAS LETRAS*/
		--color-text: #5f6067;
		--color-text-light: #727272;

		/* TAMAÑOS DE FUENTES */
		--font-size-titulo: clamp(2em, 4vw + 1rem, 2.5em);	
		--font-size-subtitulo: clamp(0.8em, 4vw + 1rem, 1.5em);
		--font-size-parrafo: clamp(0.5em, 4vw + 1rem, 1em);
		--font-size-boton: clamp(0.5em, 4vw + 1rem, 1em);

		/* TAMAÑOS DE HERO */
		--font-size-titulo-hero: clamp(2.2em, 4vw + 1rem, 3em);	
		--font-size-parrafo-hero: clamp(0.5em, 4vw + 1rem, 1.2em);
	}

	/* HEADER */
	header {
		position: fixed;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 75px;
		display: flex;
		justify-content: space-between;
		transition: 0.3s;
		padding: 20px 2%;
		z-index: 10;
		background-color: var(--navbar-color);
	}

	/* LOGO DEL NAVBAR */
	header .nav__logo {
		position: relative;
		font-size: 1.5rem;
		font-weight: 900;
		color: var(--primary-color);
		letter-spacing: 2px;
	}

	.content-right {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}

	/* NAV */
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* LISTA DEL NAVBAR */
	header ul {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header ul li {
		list-style: none;
	}

	header ul li a {
		position: relative;
		margin: 0 15px;
		color: var(--color-white);
		letter-spacing: 1.25px;
		font-weight: 400;
		/* 	transition: 0.3s; */
		font-size: 0.9rem;
		text-transform: uppercase;
		border-bottom: 4px solid transparent;
	}

	header ul li a:hover {
		color: var(--primary-color);
		border-bottom: 3px solid var(--primary-color);
	}

	button.menu-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 2rem;
		border: 0;
		background: transparent;
		gap: 0.65rem;
	}

	button.menu-btn > div {
		background: var(--color-white);
		height: 3px;
		width: 100%;
		transition: all 0.3s;
		transform-origin: left;
	}

	.menu {
		display: none;
	}

	@media (max-width: 1150px) {
		.menu {
			display: flex;
			cursor: pointer;
		}

		header ul {
			position: fixed;
			display: block;
			overflow-y: scroll;
			width: 35%;
			height: calc(100vh - 75px);
			top: 75px;
			right: -100%;
			padding: 40px 30px;
			background-color: var(--navbar-color);
			transition:
				top 0.3s ease-in-out,
				right 0.3s ease-in-out;
		}

		header ul li {
			padding: 10px 0;
		}

		header ul li a {
			font-size: 1.5rem;
			text-decoration: none;
		}

		header ul.open {
			background-color: var(--navbar-color);
			transition:
				top 0.3s ease-in-out,
				right 0.3s ease-in-out;
			top: 75px;
		}

		header ul.open {
			right: 0;
		}
	}

	@media (max-width: 900px) {
		header ul {
			width: 40%;
		}
	}

	@media (max-width: 650px) {
		header ul {
			width: 60%;
		}
	}

	@media (max-width: 450px) {
		header ul {
			width: 100%;
		}

		body.no-scroll {
			overflow: hidden;
		}
	}
</style>
